*{
    font-family: Helvetica, Arial, sans-serif;
}

:root{
    --color-primary:#5395ffff;
    --color-back: #171717;
    --color-gray: #f0f0f0;
}

header{
    background-color: var(--color-back);
}

.collapse a{
    opacity: 100%;
}

.collapse a:hover{
    opacity: 70%;
    transition: 0.3s;
    background-color: none;
}

.productos-btn{
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    padding: 0.8rem;
    width: 7rem;
    margin: 1rem 0;
    transition: 0.3s;
}

.productos-btn:hover{
    background-color: rgb(46, 111, 215);
}

.nosotros, .productos{
    margin: 6rem auto;
}

.nosotros h2, .nosotros p, .productos h2, .productos p, .productos h5{
    color: var(--color-back);
}

header h3{
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.443));
}

.nav-inactive {
    color: #7f7f7f;
}

.nav-inactive:hover{
    color: #7f7f7f;
}

.line{
    height: 0.03rem;
    background-color: #d8d8d8;
}

.nosotros img{
    border-radius: 0.3rem;
}

.cards{
    border: 0.1rem solid #f0f0f0;
    border-radius: 0.3rem;
}

.dropdown-inactive{
    color: #d8d8d8;
}

.dropdown-inactive:hover{
    color: #d8d8d8;
    background: none;
}

.container-form{
    background-color: var(--color-gray);
    padding: 2rem;
    border-radius: 0.3rem;
}

.contacto-portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#5395ffff 0%, rgb(222, 235, 255) 50%, #ffecae 100%);
    height: 300px;
}

.contacto-portada h1{
    padding: 0;
    text-align: center;
}

.formulario{
    margin: 6rem auto;
    max-width: 900px;
}

.contacto-datos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding: 2rem 4rem;
}

.contacto-datos h5{
    margin-bottom: 1rem;
} 

.contacto-datos ul{
    list-style: none;
    padding: 0;
}

.contacto-datos a{
    text-decoration: none;
    color: var(--color-back);
}

.contacto{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 30rem;

}

.contacto input{
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #d8d8d8;
    border-radius: 0.3rem;
    height: 2.5rem;
}

.contacto textarea{
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #d8d8d8;
    border-radius: 0.3rem;
    height: 10rem;
    resize: none;
}

.contacto input::placeholder, textarea::placeholder{
    padding-left: 0.5rem;
    color: #d8d8d8;
}

.btn-enviar{
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    width: 100%;
    transition: 0.3s;
}

.btn-enviar:hover{
    background-color: rgb(46, 111, 215);
}

.tienda{
    border: 0.1rem solid #f0f0f0;
    border-radius: 0.3rem;
    margin: auto;
    max-width: 800px;
}


.tienda-contenedor{
    margin: 0;
    padding: 2rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tienda-contenedor img{
    max-width: 10rem;
    border-radius: 0.3rem;
}

.tienda-btn{
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    padding: 0.8rem;
    width: 7rem;
    margin: 1rem 0;
    transition: 0.3s;
}

.tienda-btn:hover{
    background-color: rgb(46, 111, 215);
}